* {
  font-family: 'Source Code Pro', monospace;
  box-sizing: border-box;
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

.console {
  width: 600px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
}

.active .console-content {
  border-color: royalblue;
}

.active .console-header {
  background-color: royalblue;
  color: white;
}

.console-content {
  background-color: black;
  border: 3px solid gray;
  border-top: 0;
  min-height: 300px;
  color: white;
  word-wrap: break-word;
  border-radius: 1px;
}

.console-header {
  background-color: gray;
  text-align: center;
  padding: .2em;
  font-weight: bold;
}

.console-line {
  padding-left: .2em;
  padding-right: .2em;
  width: 100%;
}

.console-active {
}

.console-edit-left {
}

.console-edit-right {
}

.cursor {
  @include vendor-prefix(animation, 2.5s blink step-end infinite)
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }

}